@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'Manrope', sans-serif;
  background-color: #fef9f9;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url('./images//background/bg-mobile-min.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('./images/background/bg-mobile@2x-min.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url('./images/background/bg-tablet-min.png');

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('./images/background/bg-tablet@2x-min.png');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('./images/background/bg-desktop-min.png');

    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('./images/background/bg-desktop@2x-min.png');
    }
  }
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.root main {
  flex: 1;
  max-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.dark {
  background-color: #121212;
}
